<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/user_follow.js"></script>
</head>
<body class="inframe_body">
        <h3 class="common_title">我的关注</h3>
        <ul class="card_list_con">
            {# 遍历显示我的关注信息 #}
            {% for followed_user in follows %}
            <li class="author_card card_list">
                <a href="#" target="_blank" class="author_pic"><img src="{% if followed_user.avatar_url %}{{ followed_user.avatar_url_path }}{% else %}../../static/news/images/cat.jpg{% endif %}" alt="author_pic"></a>
                <a href="#" target="_blank" class="author_name">{{ followed_user.nick_name }}</a>
                <div class="author_resume">{{ followed_user.signature }}</div>
                <div class="writings"><span>总篇数</span><b>{{ followed_user.news_list.count() }}</b></div>
                <div class="follows"><span>粉丝</span><b>{{ followed_user.followers.count() }}</b></div>
                <a href="javascript:;" class="focused fr" data-user-id="{{ followed_user.id }}"><span class="out">已关注</span><span class="over">取消关注</span></a>
            </li>
            {% endfor %}
        </ul>
        
        
        <div id="pagination" class="page"></div>
        <script>
            $(function() {
                $("#pagination").pagination({
                    currentPage: {{ current_page }},
                    totalPage: {{ total_page }},
                    callback: function(current) {
                        // alert('ok!');
                        location.href = '/user/follows?p=' + current;
                    }
                });
            });
        </script>
</body>
</html>